.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 24px;
  gap: 24px;
  position: relative;
  width: 410px;
  height: 686px;
  background: #0d1119;
  border-radius: 10px;
}

/* Search Bar */

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.searchBar:hover {
  box-shadow: 0px 0px 0px 4px #b89fff, inset 0px 0px 0px 1px #663cdd;
  border-radius: 6px;
}

.searchBar .searchField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 40px;
  background: #131823;
  box-shadow: 0px 0px 0px 1px #5b6178;
  border-radius: 6px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.searchField .searchGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 11px;
  gap: 10px;
  width: 141px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.searchGroup .searchIcon {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.searchGroup .searchInput input {
  border: none;
  background: none;
  color: #7185aa;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 300px;
}

.searchGroup .searchInput input:focus {
  outline: none;
}

.searchGroup .searchInput input::placeholder {
  width: 111px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7185aa;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.searchBar #searchResults {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 5px;
  position: relative;
  /* width: 357px; */
  /* height: 134px; */
  background: #121826;
  box-shadow: 0px 10px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  align-self: stretch;
}

#searchResults .items {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  gap: 10px;
  /* width: 340px; */
  height: 36px;
  background: #121826;
  border-radius: 6px;
  flex: none;
  order: 2;
  flex-grow: 0;
  align-self: stretch;
  overflow-y: scroll;
}

#searchResults .items:hover {
  background: #181f30;
}

#searchResults .items .dish {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  /* width: 264px; */
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 264px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .nameAndCountry {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 108px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* #searchResults .items .dish .dishContainer .nameAndCountry .flag */
#searchResults .items .dish .dishContainer .nameAndCountry > img {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .nameAndCountry .nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 7px;
  width: 91px;
  height: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* #searchResults .items .dish .dishContainer .nameAndCountry .nameContainer .name { */
#searchResults .items .dish .dishContainer .nameAndCountry .name {
  /* width: 134px; */
  height: 20px;

  /* Default/Buttons/Default */

  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* Default/White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .diffLevel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 64px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .diffLevel .difficultyIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 6px;

  width: 12px;
  height: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .diffLevel .difficultyIcon .iconContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 12px;
  height: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .diffLevel .difficultyIcon .icon {
  width: 12px;
  height: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .dish .dishContainer .diffLevel .difficultyIcon .icon.red {
  background: #ff003d;
}
#searchResults .items .dish .dishContainer .diffLevel .difficultyIcon .icon.orange {
  background: #f73b00;
}
#searchResults .items .dish .dishContainer .diffLevel .difficultyIcon .icon.green {
  background: #6cf700;
}

#searchResults .items .dish .dishContainer .diffLevel .difficultyText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15.84px;

  width: 42px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* #searchResults .items .dish .dishContainer .diffLevel .difficultyText .text { */
#searchResults .items .dish .dishContainer .diffLevel .text {
  width: 43px;
  height: 24px;

  /* Default/Headings/h4 Bold */

  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Default/White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#searchResults .items .vline {
  width: 18px;
  height: 0px;
  border: 1px solid #1f2a44;
  transform: rotate(90deg);
  flex: none;
  order: 1;
  flex-grow: 0;
}

#searchResults .items .timetaken {
  /* width: 40px; */
  height: 24px;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #aeb5c1;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Recipe Header */

.recipeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 52px;
  height: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.recipeHeader .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 130px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recipeHeader .heading .flag {
  display: flex;
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
}

.recipeHeader .heading .title {
  /* width: 96px; */
  height: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.recipeHeader .social {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 111px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 176px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.recipeHeader .social button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 5px;
  width: 24px;
  height: 24px;
  background: #171f2f;
  border-radius: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.recipeHeader .social .addRecipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 5px;
  width: 89px;
  height: 24px;
  background: #171f2f;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.recipeHeader .social .addRecipe span {
  width: 75px;
  height: 24px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.recipeHeader .social button > svg {
  width: 10px;
  height: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Recipe Summary */

.recipeSummary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  height: 264px;
  background: #131823;
  border-radius: 6px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.recipeSummary .toast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 16px;
  width: 342px;
  height: 244px;
  background: #17cfc4;
  box-shadow: 0px 10px 30px 3px rgba(5, 16, 55, 0.15);
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.recipeSummary .toast .difficulty {
  height: 32px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.recipeSummary .toast .difficulty .level {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 200px;
  height: 32px;
  left: 0px;
  top: 1px;
}

.recipeSummary .toast .difficulty .level div > img {
  width: 32px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recipeSummary .toast .difficulty .level div:last-child {
  width: 175px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #0d1119;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.recipeSummary .toast .description {
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0d1119;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.recipeSummary .toast button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 14px 11px;
  gap: 10px;
  height: 40px;
  background: #1d2a43;
  border-radius: 6px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.recipeSummary .toast button > p {
  width: 103px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Recipe Details */

.recipeDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 24px;
  gap: 12px;
  width: 362px;
  height: 238px;
  background: #131823;
  box-shadow: 0px 2px 6px rgba(5, 16, 55, 0.1);
  border-radius: 6px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.recipeDetails .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: auto;
  height: 44px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.recipeDetails .row .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 145px;
  height: 44px;
  flex: none;
  flex-grow: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.recipeDetails .row .col .textTitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #7185aa;
}

.recipeDetails .row .col .white {
  color: #ffffff;
}

.recipeDetails .row .col .sunfire {
  background: linear-gradient(136.39deg, #ffbf43 3.18%, #ff4869 102.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.recipeDetails .row .col .green {
  background: linear-gradient(136.39deg, #2bf1e5 3.18%, #40e33d 102.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.recipeDetails .row .col .red {
  color: red;
}
